@keyframes MoveAnimationTopTitle {
    0% {margin-left: -5vw;}
    100% {margin-left: 0vw;}
}
@keyframes TitleColor {
    0% {color: #fff;}
    100% {color: #ffff7c;}
}
@keyframes EffectBars {
    0% {background-color: #ffff;width: 30vw;}
    100% {background-color: #fff;width: 0vw;}
}
@keyframes PurpleEffectBar {
    0% {width: 1vw; margin-left: 0vw;height: 0vw;}
    15% {width: 5vw;margin-left: 0vw;height: 8vw;}
    50% {width: 34vw;margin-left: 6vw;height: 8vw;}
    100% {width: 0vw;margin-left: 40vw;height: 8vw;}
}
@keyframes HeaderHeightAnim {
    0% {height: 14vw;}
    100% {height: 18vw;}
}

body {
    background-color: #111;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

.header {
    background-color: rgb(40, 0, 83);
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 18vw; 
    animation: HeaderHeightAnim 0.75s;
}

.header .Title {
    font-size: 7vw;
    position: absolute;
    margin-top: 4vw;
    width: 100vw;
    text-align: center;
}

.header .Title .language {
    color: #ffff7c;
    animation: TitleColor 1s;
}

.header .OverTitle {
    position: absolute;
    font-size: 3vw;
    margin-top: 1vh;
    left: 34vw;
    animation: MoveAnimationTopTitle 1s;
    color: #e195ff;
}

.header .EffectBars {
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.header .EffectBars div{
    width: 0vw;
    height: 2vw;
    position: relative;
    margin-top: 1.5vw;
    left: 2vw;
    animation: EffectBars 1s;
}

.header .EffectBars .RightBars {
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
    top: 0;
}

.header .InstallCode {
    font-size: 1.3vw;
    position:absolute;
    top: 13.5vw;
    width: 100vw;
    text-align: center;
}

.header .InstallCode code {
    background-color: #444;
    padding: 0.5vw;
    border-radius: 100vw;
    border: 1px solid #eee;
    cursor: pointer;
    transition: all 0.5s ease;
}

.header .InstallCode code:hover {
    background-color: #474 !important;
}

.header .Bar11 {
    background-color: #cd77ff;
    height: 8vw;
    position:absolute;
    top: 4vw;
    left: 33vw;
    animation: PurpleEffectBar 1s;
}