:root {
  --accent-color: #EDE609;
  --accent-color-darker: #9a9613;
  --accent-text-color: #000;

  --secondary-color: #6509ed;
  --secondary-text-color: #fff;
  --secondary-color-lighter: #9857fa;

  --background-color: #050017;
  --text-color: #fff;

  --lighter: #fff2;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: var(--accent-color);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary-color);
}

::-webkit-scrollbar-thumb:hover {
  background: var(--secondary-color-lighter);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scrollbar-color: var(--accent-color) var(--secondary-color);
}

body {
  background: var(--background-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  display: grid;
  width: 100%;
  grid-template-columns: 2fr 1fr;
  justify-content: center;
  gap: 1rem;
}

.red {
  color: #ff66b0;
}

.sideNav {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  height: fit-content;
  min-height: 100vh;
  background: var(--lighter);
}

.pages {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

.pageRoute {
  width: 100%;
  background: var(--accent-color);
  color: var(--accent-text-color);
  text-decoration: none;
  font-weight: bolder;
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.25rem;
}

.pageRouteIcon {
  height: 1rem;
  aspect-ratio: 1;
}

.header {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 0.5rem;
}

.OverTitle {
  font-size: 1.5rem;
  color: var(--secondary-text-color);
  filter: drop-shadow(2px 2px 1px var(--secondary-color));
}

.Title {
  font-size: 3.5rem;
  background: linear-gradient(45deg, var(--accent-color-darker), var(--accent-color), var(--accent-color-darker));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: drop-shadow(2px 2px 1px var(--secondary-color));
}

.InstallCode {
  width: 100%;
  background: var(--lighter);
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: 600;
  border: 1px solid var(--accent-color);
}

.link {
  color: var(--accent-color);
}

.link:visited {
  color: var(--accent-color-darker);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
}

.callToAction {
  background: var(--accent-color);
  width: fit-content;
  padding: 0.5rem 1rem;
  color: var(--accent-text-color);
  text-decoration: none;
  font-weight: bolder;
}

.content {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.sectionTitle {
  font-size: 2rem;
}

code {
  white-space: break-spaces;
}

@media screen and (max-width: 720px) {
  body {
    grid-template-columns: 1fr;
  }

  .sideNav {
    order: -1;
    min-height: fit-content;
    position: static;
  }
}