::-webkit-scrollbar {
    width: 1vw;
}
::-webkit-scrollbar-track {
    background: rgb(40, 0, 83);
    height: 10vw;
}
::-webkit-scrollbar-thumb {
    background: #ffff55;
    width: 0.5vw;
}  
::-webkit-scrollbar-thumb:hover {
    background: #ffef77;
} 

html {
    scrollbar-color: #ffff55 rgb(40, 0, 83);
}

@keyframes MoveAnimationTopTitle {
    0% {margin-left: -5vw;}
    100% {margin-left: 0vw;}
}
@keyframes TitleColor {
    0% {color: #111;}
    100% {color: rgb(80, 0, 167);}
}
@keyframes EffectBars {
    0% {background-color: #ffff;width: 30vw;}
    100% {background-color: #fff;width: 0vw;}
}
@keyframes PurpleEffectBar {
    0% {width: 1vw; margin-left: 0vw;height: 0vw;}
    15% {width: 5vw;margin-left: 0vw;height: 8vw;}
    50% {width: 34vw;margin-left: 6vw;height: 8vw;}
    100% {width: 0vw;margin-left: 40vw;height: 8vw;}
}
@keyframes HeaderHeightAnim {
    0% {margin-top: 0vw;height:100vh;}
    100% {margin-top: 3.5vw;}
}
@keyframes TopBarAnim {
    0% {height: 0vw; color: #0000;}
    65% {color: #0000;}
    100% {height: 3.5vw;}
}
@keyframes LoadingScreen {
    0% {height: 0vh;}
    100% {height: 100vh;}
}
@keyframes leftAppear {
    0% {left: -10vw;opacity: 0.25;}
    100% {left: 0vw;opacity: 1;}
}
@keyframes RightAppear {
    0% {left: 10vw;opacity: 0.25;}
    100% {left: 0vw;opacity: 1;}
}
@keyframes exampleAppear {
    0% {margin-left: 60vw;opacity: 0.25;}
    100% {margin-left: 50vw;opacity: 1;}
}
@keyframes typing {
    from { width: 0vw; margin-left: 50vw }
    to { width: 100vw }
}

body {
    background-color: #111;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow: hidden;
}

red {
    color: #FF5555;
}

a {
    color: #ffff55;
    text-decoration: none;
}

header {
    background-color: rgb(40, 0, 83);
    width: 100vw;
    height: 3.5vw;
    position: fixed;
    animation: TopBarAnim 0.75s;
}

apis {
    text-align: center;
    display: flex;
    flex-direction: row;
    margin-left: 4vw;
}
apis a {
    height: 3.5vw;
    border: 0;
    color: #111;
    font-size: 1.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    line-height: -2vw;
    display: flex;
    flex-direction: column;
    animation: TopBarAnim 0.75s;
}
apis a:before {
    display: inline-block;
    content: '';
    padding-top: 1vw;
    width: 100%;
    margin: 0;
}
apis a:hover {
    filter: brightness(75%);
}
apis a:active {
    filter: brightness(65%);
}
links {
    top: 0;
    text-align: center;
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 7vw;
    font-size: 1.3vw;
}
links a {
    height: 3.5vw;
    border: 0;
    color: #FFF;
    font-size: 1.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    line-height: -2vw;
    display: flex;
    flex-direction: column;
    animation: TopBarAnim 0.75s;
}
links a:before {
    display: inline-block;
    content: '';
    padding-top: 1vw;
    width: 100%;
    margin: 0;
}
links a:hover {
    background-color: #FFF3;
}
links a:active {
    background-color: #FFF5;
}

.header {
    background-color: #ffff55;
    position: absolute;
    left: 0;
    width: 100vw;
    height: 18vw; 
}

.header .Title {
    font-size: 7vw;
    position: absolute;
    margin-top: 4vw;
    width: 100vw;
    text-align: center;
    overflow: hidden;
    animation: typing 2.5s steps(35, end); 
    color: #111;
}

.header .Title .language {
    color: #9146FF;
    animation: TitleColor 1s;
}

.header .OverTitle {
    position: absolute;
    font-size: 3vw;
    margin-top: 1vh;
    left: 34vw;
    overflow: hidden;
    animation: MoveAnimationTopTitle 1s;
    color: #9146FF;
}

.header .EffectBars {
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: absolute;
}

.header .EffectBars div{
    width: 0vw;
    height: 2vw;
    position: relative;
    margin-top: 1.5vw;
    left: 2vw;
    animation: EffectBars 1s;
}

.header .EffectBars .RightBars {
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: absolute;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    transform: scaleX(-1);
    -ms-filter: fliph; /*IE*/
    filter: fliph; /*IE*/
    top: 0;
    left: -1vw;
}

.header .InstallCode {
    font-size: 1.3vw;
    position:absolute;
    top: 13.5vw;
    width: 100vw;
    text-align: center;
}

.header .InstallCode code {
    background-color: #444;
    padding: 0.5vw;
    border-radius: 100vw;
    border: 1px solid #111;
    cursor: pointer;
    transition: all 0.5s ease;
    overflow: hidden;
}

.header .InstallCode code:hover {
    background-color: #474 !important;
}

.header .Bar11 {
    background-color: #9146FF;
    height: 8vw;
    position:absolute;
    top: 4vw;
    left: 33vw;
    animation: PurpleEffectBar 1s;
    animation-delay: 1s;
}

.Content {
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    animation: HeaderHeightAnim 0.75s;
    scrollbar-width: thin;
}

.Content .About {
    width: 30vw;
    margin-left: 10vw;
    position: absolute;
    top: 21.5vw;
    animation: leftAppear 1.5s ease;
}

.Content h2 {
    text-align: center;
    font-size: 2.5vw;
}

.Content p {
    font-size: 1.3vw;
}

.Content code {
    font-size: 1vw;
    white-space: pre-wrap;
}

.Content .example {
    margin-top: 21.5vw;
    position: static;
    width: 40vw;
    margin-left: 50vw;
    margin-bottom: 10vw;
    animation: exampleAppear 1.5s ease;
}

.Content .example pre {
    background-color: #282a36;
    border-radius: 0.5vw;
    margin: 0;
    padding: 1vw;
    height: 20vw;
    overflow: hidden;
    overflow-y: auto;
}

.Content .Why {
    top: 51.5vw;
    width: 30vw;
    margin-left: 10vw;
    position: absolute;
    animation: leftAppear 3s ease;
}

.Content .Why ul {
    font-size: 1.75vw;
    margin-left: -2vw;
}

.Content .Statistics {
    top: 51.5vw;
    position: absolute;
    width: 40vw;
    margin-left: 50vw;
    margin-bottom: 10vw;
    animation: RightAppear 3s ease;
}

.Content .Statistics ul {
    font-size: 1.75vw;
    margin-left: -2vw;
}

.Content .Statistics span {
    display:inline-block;
    width: 40vw;
    text-align: center;
    font-size: 1vw;
}

.Content .Buttons {
    top: 73vw;
    position: absolute;
    width: 15vw;
    margin-left: 42.5vw;
    margin-bottom: 10vw;
}

.Content .Buttons button {
    width: 15vw;
    border: 0;
    background-color: #ffff55;
    border-radius: 0.5vw;
    height: 3vw;
    font-size: 2vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

.Content .Buttons button:hover {
    background-color: #524d26;
    color: #FFF;
}

.Content .Buttons button:active {
    background-color: rgb(29, 29, 13);
    color: #FFF;
}

.footer {
    position: absolute;
    top: 80vw;
    width: 100vw;
    height: 15vw;
    background-color: #333;
    text-align: center;
}

.footer h4 {
    margin-top: 3vw;
    font-size: 1.5vw;
}

.footer button {
    width: 5vw;
    border: 0;
    background-color: #ffff55;
    border-radius: 0.5vw;
    height: 2vw;
    font-size: 1.3vw;
    cursor: pointer;
    transition: all 0.3s ease;
}

.footer button:hover {
    background-color: #524d26;
    color: #FFF;
}

.footer button:active {
    background-color: rgb(29, 29, 13);
    color: #FFF;
}

.LoadingScreen {
    background-color: rgb(40, 0, 83);
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    animation: LoadingScreen 0.3s;
    display: none;
}
