@media screen and (max-width: 44.15rem) and (min-width: 0rem) {
    /* html,body {
        font-size: 1.5rem !important;
    } */
    
    :root {
        --maxAmountOfBoxes: 1 !important;
    }

    #sideBar {
        position: fixed !important;
        z-index: 99999;
    }

    .PGMethods .FVBox:nth-child(3) {
        grid-column: 1 !important;
        grid-row: 3 !important;
    }

    .blockOfCode {
        width: 85%;
    }

    /* links a {
        font-size: calc(1vw + 1vh);
    } */

    .Viewer {
        margin-left: 0rem;
        margin-right: 0rem;
    }

    .showOnlyOnMobile {
        display: block !important;
    }

    .hideOnMobile {
        display: none !important;
    }

    table.hideOnMobile {
        display: none !important;
    }

    /* table th {
        font-size: 1.7rem !important;
    }
    
    table td {
        font-size: 1.5rem !important;
    } */

    .TopSearch {
        display: none !important;
    }

    h3 {
        display: none !important;
    }
}

@media screen and (min-width: 44.15rem) {
    /* html,body {
        font-size: 1.3rem !important;
    } */

    :root {
        --maxAmountOfBoxes: 1 !important;
    }

    #sideBar {
        position: fixed !important;
        z-index: 99999;
    }

    .PGMethods .FVBox:nth-child(3) {
        grid-column: 1 !important;
        grid-row: 3 !important;
    }

    .blockOfCode {
        width: 85%;
    }

    /* links a {
        font-size: calc(1vw + 1vh);
    } */

    .Viewer {
        margin-right: 0rem;
        margin-left: 0rem;
    }

    .showOnlyOnMobile {
        display: block !important;
    }

    .hideOnMobile {
        display: none !important;
    }

    table.hideOnMobile {
        display: none !important;
    }

    /* table th {
        font-size: 1.7rem !important;
    }
    
    table td {
        font-size: 1.5rem !important;
    } */

    .TopSearch {
        display: none !important;
    }

    h3 {
        display: none !important;
    }
}

@media screen and (min-width: 66.3rem) {
    /* html,body {
        font-size: 1.0rem !important;
    } */

    :root {
        --maxAmountOfBoxes: 2 !important;
    }

    #sideBar {
        position: static !important;
    }

    .PGMethods .FVBox:nth-child(3) {
        grid-column: 1 / span 2 !important;
        grid-row: 2 !important;
    }

    .blockOfCode {
        width: 85%;
    }

    /* links a {
        font-size: 1.3rem;
    } */

    .Viewer {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .showOnlyOnMobile {
        display: none !important;
    }

    .hideOnMobile {
        display: block !important;
    }

    table.hideOnMobile {
        display: table !important;
    }

    /* table th {
        font-size: 1.3rem !important;
    }
    
    table td {
        font-size: 1.1rem !important;
    } */

    
    .TopSearch {
        display: block !important;
    }

    h3 {
        display: block !important;
    }
}

@media screen and (min-width: 88.45rem) {
    /* html,body {
        font-size: 1rem !important;
    } */

    :root {
        --maxAmountOfBoxes: 3 !important;
    }

    #sideBar {
        position: static !important;
    }

    .PGMethods .FVBox:nth-child(3) {
        grid-column: 3 !important;
        grid-row: 1 !important;
    }

    .blockOfCode {
        width: auto;
    }

    /* links a {
        font-size: 1.3rem;
    } */

    .Viewer {
        margin-right: 1rem;
        margin-left: 1rem;
    }

    .showOnlyOnMobile {
        display: none !important;
    }

    .hideOnMobile {
        display: block !important;
    }

    table.hideOnMobile {
        display: table !important;
    }

    /* table th {
        font-size: 1.3rem !important;
    }
    
    table td {
        font-size: 1.1rem !important;
    } */

    .TopSearch {
        display: block !important;
    }

    h3 {
        display: block !important;
    }
}