::-webkit-scrollbar {
    width: 1vw;
}
::-webkit-scrollbar-track {
    background: #ffff7c;
    height: 10vw;
}
::-webkit-scrollbar-thumb {
    background: rgb(51, 0, 105);
    width: 0.5vw;
}  
::-webkit-scrollbar-thumb:hover {
    background: rgb(67, 0, 139);
} 

html {
    scrollbar-color: rgb(51, 0, 105) #ffff7c;
    scrollbar-width: thin;
}

@keyframes LoadingScreen {
    0% {height: 100vh;}
    100% {height: 0vh;}
}

body {
    background-color: #111;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    overflow-x: hidden;
}

red {
    color: #FF5555;
}

green {
    color: #55FF55;
}

redbox {
    background-color: #FF5555;
    margin-left: 1vw;
    padding: 0.5vw;
    border-radius: 0.3vw;
    color: #FFF !important;
}

a {
    color: #ffff7c;
    text-decoration: none;
}

.TopBar {
    width: 100vw;
    position: fixed;
    background-color: #ffff7c;
    height: 3.5vw;
    z-index: 301;
}

.TopBar .Pages .SelectedPage {
    margin-left: 7vw;
    height: 3.5vw;
    border: 0;
    background-color: rgb(40, 0, 83);
    color: #fff;
    font-size: 1.3vw;
    padding-left: 1vw;
    padding-right: 1vw;
    position: absolute;
    cursor: pointer;
    transition: all 0.5s ease;
    text-decoration: none;
    line-height: -2vw;
    display: flex;
    flex-direction: column;
}

.TopBar .Pages .SelectedPage:before {
    display: inline-block;
    content: '';
    padding-top: 1vw;
    width: 100%;
    margin: 0;
}

.TopBar .Pages .SelectedPage:hover {
    background-color: rgb(22, 0, 46);
}

.TopBar .Pages .SelectedPage:active {
    background-color: rgb(6, 0, 12);
}

.TopBar .External .button {
    text-decoration: none;
    height: 3.5vw;
    top: 0;
    border: 0;
    padding-left: 1vw;
    padding-right: 1vw;
    transition: all 0.5s ease;
    color: #000;
    display: flex;
    flex-direction: column;
    font-size: 1.3vw;
}

.TopBar .External .button:before {
    display: inline-block;
    content: '';
    padding-top: 1vw;
    width: 100%;
    margin: 0;
}

.TopBar .External .button:hover {
    background-color: #0003;
}

.TopBar .External .button:active {
    background-color: #0006;
    color: #FFF;
}

.TopBar .External {
    display: flex;
    flex-direction: row;
    position: absolute;
    right: 7vw;
}

.LoadingScreen {
    background-color: #ffff7c;
    position: fixed;
    width: 100vw;
    height: 0vh;
    z-index: 300;
    animation: LoadingScreen 0.5s ease-out;
}

.Content {
    position: absolute;
}

.File-Viewer {
    position: relative;
    width: 60vw;
    top: 7vw;
    margin-left: 33vw;
}

.File-Viewer th {
    display: inline-block;
    padding: 1vw;
    border: 2px solid #777;
    margin-right: 1vw;
}

.File-Viewer .FVTitle {
    color: #FFF;
    font-size: 2vw;
}

.File-Viewer .FVTitle span {
    color: #AAA;
    font-size: 1.3vw;
}

.File-Viewer .FVTitle a {
    text-decoration: underline;
    font-size: 1.7vw;
}

.File-Viewer .FVTitle green {
    font-size: 1.7vw;
}

.File-Viewer .FVDescription {
    font-size: 1.3vw;
    margin-left: 1.5vw;
    margin-top: 1vw;
}

.File-Viewer .FVDescription span {
    font-size: 1vw;
}

.File-Viewer h4 {
    font-size: 1.75vw;
    margin-bottom: 5vw;
}

.File-Viewer h4 p {
    font-size: 1.35vw;
    margin-left: 1vw;
}

.File-Viewer h4 p::before {
    content: '';
    width: 0.5vw;
    background-color: #55f7;
    height: 3vw;
    position: absolute;
    margin-left: -1vw;
}

.File-Viewer h4 sub {
    color: #BBB;
    font-size: 1.2vw;
}

.File-Viewer .FVProps {
    background-color: #3337;
    padding: 1vw;
    width: 20vw;
    display: inline-block;
    position: absolute;
}

.File-Viewer .FVProps p {
    margin: 0;
    font-weight: bold;
    color: #DDD;
    font-size: 1.75vw;
}

.File-Viewer .FVProps a {
    margin: 0;
    color: #BBB;
    margin-left: 1vw;
    cursor: pointer;
    font-size: 1.3vw;
}

.File-Viewer .FVProps a:hover {
    color: #FFF;
}

.File-Viewer .FVMethods {
    display: inline-block;
    background-color: #3337;
    padding: 1vw;
    width: 20vw;
    margin-left: 22vw;
}

.File-Viewer .FVMethods p {
    margin: 0;
    font-weight: bold;
    color: #DDD;
    font-size: 1.75vw;
}

.File-Viewer .FVMethods a {
    margin: 0;
    color: #BBB;
    margin-left: 1vw;
    cursor: pointer;
    font-size: 1.3vw;
}

.File-Viewer .FVMethods a:hover {
    color: #FFF;
}

.File-Viewer .FVPropierts {
    margin-top: 4vw;
    font-size: 2vw;
}

.TopSearch {
    position: fixed;
    margin-top: 3.5vw;
    width: 100vw;
    height: 5vw;
    background-color: #333;
    z-index: 1;
}

.TopSearch input {
    position: absolute;
    font-size: 1.3vw;
    right: 2vw;
    width: 20vw;
    border: 0;
    background-color: #0007;
    padding: 1.7vw;
    color: #FFF;
}

.SideBar {
    width: 27vw;
    position: fixed;
    background-color: #555;
    scrollbar-width: thin;
    overflow-y: scroll;
}

.SideBar .SideBarContent {
    margin-top: 2vw;
    margin-left: 2vw;
}

.SideBar .SideBarContent h2 {
    font-size: 1.5vw;
}

.SideBar .SideBarContent div {
    font-size: 1.3vw;
    margin-left: 1vw;
    margin-top: -1vw;
}

.SideBar .SideBarContent #SideBarSelected {
    display: inline-block;
    background-color: #444; 
    padding: 0.5vw;
    padding-right: 15vw;
    padding-left: 1vw;
    margin-left: -1vw;
    width: 5vw;
    font-size: 1.4vw;
}

.SideBar .SideBarContent #SideBarSelected:after {
    position: absolute;
    content: '';
    width: 0.3vw;
    height: 2.5vw;
    background-color: #ffff7c;
    margin-top: -0.5vw;
    margin-bottom: -0.75vw;
    right: 3vw;
}