name: ESLint

on: [push, pull_request]

jobs:
  update:
    name: ESLint

    runs-on: ubuntu-latest

    if: github.event_name == 'push' || github.event.pull_request.head.repo.full_name != github.repository

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Install Node v22
        uses: actions/setup-node@v4
        with:
          node-version: 22

      - name: Install dependencies
        run: npm ci

      - name: Run ESLint
        run: npm run lint

      - name: Commit changes
        uses: EndBug/add-and-commit@v9
        with:
          add: src
          message: 'chore(lint): Auto-fix linting errors'
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
